{% extends "../../base.html" %}
{% load static %}

{% block content %}


<style>
  .scroll-div{
    overflow-y:scroll;
    height:320px;
  }
  .scroll-div::-webkit-scrollbar{
    width:5px;
    background-color:brown;
    border-radius:13px;
  }
</style>

<section class="text-gray-400 bg-light-900 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Company Name: {{project.company.name}}</h2>
        <h1 class="text-black text-xl title-font font-medium mb-4">Project Title:{{project.title}}</h1>
        <div class="flex mb-4">
          <a class="flex-grow text-indigo-400 border-b-2 border-indigo-500 py-2 text-lg px-1">Overview</a>
          <a href="{{project.company.get_absolute_url}}" class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">Company</a>
          {% if not request.user.is_staff %}
          <a href="{% url 'project:update-project' project.id %}"  class="flex-grow border-b-2 border-gray-800 py-2 text-lg px-1">Update</a>
          {% endif %}
        </div>
        <div class="leading-relaxed mb-4">{{project.description}}</div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Accepted Date</span>
          <span class="ml-auto text-black">{{project.accepted_date}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Closed Date</span>
          <span class="ml-auto text-black">{{project.closed_date}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Created By</span>
          <span class="ml-auto text-black">{{project.created_by}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Project Status</span>
          <span class="ml-auto text-black">{{project.project_status}}</span>
        </div>
        <div class="flex border-t border-gray-800 py-2">
          <span class="text-gray-500">Assigned Engineer</span>
          {% if project.assigned_to %}
          <span class="ml-auto text-black">{{project.assigned_to}}</span>
          {% else %}
          <span class="ml-auto text-black">Not Yet Assigned</span>
          {% endif %}
        </div>
        <div class="flex border-t border-b mb-6 border-gray-800 py-2">
          <span class="text-gray-500">Resolved?</span>
          {% if project.is_resolved %}
          <span class=" badge bg-success ml-auto text-black ">Yes</span>
          {% else %}
          <span class=" badge bg-danger ml-auto text-black ">Not Yet</span>
          {% endif %}
        </div>
       
        <div class="flex">
          {% if request.user.is_staff and not project.is_resolved %}
            {% if request.user.is_staff and  project.is_resolved %}
            <p>This project has been resolved </p>
            {% else %}
            <a href="{% url 'project:close-project' project.pk %}" class="flex ml-auto text-black bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Confirm Resolution</a>
            <a href="{% url 'project:accept-project' project.pk %}" class="flex ml-auto text-black bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Accept Project</a>
            {% endif %}
          {% endif %}  
        </div>
      </div>
      <div class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-black">Chat Room</h1>
          <div class="scroll-div">
              {% for message in project_messages %}
              <div>
                <small style="font-size:13px;color:red;">@{{message.user}}  <small style="padding-left:130px;font-size:13px;color:black">{{message.created|timesince}} ago</small></small>
                <br>
                <br>
                <p style="font-family:monospace">{{message.body}}</p>
                <hr>
              </div>
              {% endfor %}
          </div>
          <br>
          <br>
          <div>
            <h4></h4>
            <form id="commentform" method="POST" action="">
              {% csrf_token %}
              <input class="w-full bg-gray-800 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="text" name="body" placeholder="Enter message here" />
          </div>
    </div>
    </div>
  </div>
</section>

{% comment %} <script>
  $(document).on('submit','#commentform', function(e){
    e.preventDefault();
    $.ajax({
      type:'POST',
      url:"{% url 'project:project-detail' %}",
      data:{
        body = $('#body').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]'),
      },
      success: function(json){
        $('h4'.html(json['success']));
      },
      error: function (xhr, errmsg, err) {

      }
    })
  });
</script> {% endcomment %}
{% endblock %} 